.search {
    color: whitesmoke;
    margin: auto;
    max-width: 1100px;
    padding: 50px 20px 0 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: 5fr 1fr;
    @media (width < 600px) {
        padding: 0px 20px 0 20px;
        grid-template-columns: 1fr;
    }
}

.search h2 {
    text-align: left;
}

.aside {
    display: flex;
    flex-direction: column;

    @media (width < 600px) {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 35px;
        background-color: #252525;
        left: 0;
 
        width: 100%;
        max-width: 600px;
    }
   
}
.aside-search {
    @media (width < 600px) {
        margin: 0 8px;
    }
}
/* .aside-search h2 {
    @media (width < 600px) {
        display: none;
    }
} */
.aside__input {
    padding: 8px 0 8px 4px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    @media (width < 600px) {
        width: 100%;
        padding: 9px 0;
        margin-top: 10px;
    }
}

.aside__label {
    margin-bottom: 10px;
    font-weight: bold;
}
.aside__label h4 {
    text-align: left;
    margin-bottom: 4px;
}
.aside__select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

@media (max-width: 600px) {
    .search {
        padding: 0px 20px 0 20px;
        grid-template-columns: 1fr;
    }
    .aside {

            position: fixed;
            bottom: 0;
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 35px;
            background-color: #252525;
            left: 0;
            width: 100%;
            max-width: 600px;    
    }
    .aside-search {
        margin: 0 8px;
    }
    .aside-search h2 {
        display: none;
    }
    .aside__input {
        width: 100%;
        padding: 9px 0;
        margin-top: 10px;
    }
}