
.App {
  text-align: center;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}


.swiper {
  width: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-swiper .swiper-wrapper {
  height: 70vh;
  @media (width <500px) {
    height: 50vh 
  }
}
.wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;

  height: fit-content;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.movie-slider__img {

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}



.play-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}
.play-button p {
  padding: 10px 20px;
}
.play-button:hover {
  background-color: #f9f9f9a7;
}
.play-button a {
  padding: 10px 20px;
  color: #000;
}

.trending {
  max-height: 450px;
}