
body {
  background-color: #252525;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}

h1 {
  color: white;
}
.wrapper {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /* display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  
}
.wrapper .toggle-container {
  display: flex;
  align-items: center;
  margin: 8px;
}
.wrapper_mini {
  margin: 20px;
}
.movie-card {
 
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

a {
  color: white;
  text-decoration: none;
}
a:visited, a:focus, a:hover {
  color: white;
}

.banner-btn {
  position: relative;
  margin: auto;
  z-index: 10;
  top: -20%;
  right: 30%;
  max-width: 300px;
   @media (width <=600px) {
    right: 0;
  }


}
.banner-btn  button {
  margin: 10px;
}
.favorites-heading {
  text-align: left;
  color: whitesmoke;
  padding-bottom: 8px;
}
@media (max-width: 600px) {
  .banner-btn {
    right: 0;
  }
  .wrapper{
    margin-bottom: 35px;
  }
}