
body {
  background-color: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}

h1 {
  color: white;
}
.wrapper {
  margin: auto;
  max-width: 1000px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
.movie-card {
  padding: 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

a {
  color: white;
  text-decoration: none;
}
a:visited, a:focus, a:hover {
  color: white;
}

.banner-btn {
  position: relative;
    z-index: 100;
    top: -100px;
    right: 360px;

}
.banner-btn  button {
  margin: 10px;
}
